.groupRanking{
    color: #fff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.groupRanking span{
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    height: 100%;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
}
.groupRanking span.activeRanking{
    background: #4693B8;
}
.itemRanking{
    display: flex;
    gap: 15px;
    align-items: center;
    overflow: hidden;
}
.bodycontentRanking{
    height: 100%;
    width: 60%;
}
.bodycontentRanking *{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contentRanking{
    margin-top: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dot{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #666;
    display: inline-block;
    margin: 3px 6px;
}
.endContentRanking{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}
.numberRanking{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f2f2f;
    transition: .5s;
}
.viewsRanking{
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2px;
    color: #aaa;
}
.hover1 {
    --c: #1095c1;
    --s: .15em;
    
    line-height:1.1em;
    padding-bottom: calc(2.1*var(--s));
    background: 
      conic-gradient(from 135deg at top,var(--c) 90deg,#0000 0) 
        left 0 bottom var(--s)/calc(2*var(--s)) var(--s) repeat-x,
      conic-gradient(from -45deg at bottom,var(--c) 90deg,#0000 0) 
        left var(--s) bottom 0/calc(2*var(--s)) var(--s) repeat-x;
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0) 0/var(--_p,0%) padding-box no-repeat;
    transition: .5s;
}
.itemRanking:hover .hover1 {
    --_p: 100%;
    color: var(--c);
}
.itemRanking:hover .numberRanking{
    background: #1095c1;
}